<div class="fullscreen row center">
  <div class="column center">
    <img style="height: min(35rem, 30vh)" src="resources/icons/notfound.svg" />
  </div>
  <div class="column center">
    <h1 style="margin-bottom: 0.35rem">Page not found</h1>
    <p>
      Sorry, we can't find the page you are looking for.<br />
      You can return to home or contact us.
    </p>
    <div class="row center">
      <a class="button-link" href="/#/">Home</a>
      <a class="button-link outline" href="/#/contact">Contact us</a>
    </div>
  </div>
</div>
